<div class="mx-20 mt-20 p-4 text-center bg-white border border-gray-200 rounded-lg shadow sm:p-8 dark:bg-gray-800 dark:border-gray-700">
    <div class="flex justify-between mb-10">
        <h5 class="mb-8 text-3xl font-bold text-gray-900 dark:text-white">Data Customer</h5>
        <button class="bg-green-700 hover:bg-green-800 text-white font-bold py-2.5 px-4 rounded mb-4" (click)="addCustomer()">Add Customer</button>
    </div>
    <div class="relative overflow-x-auto">
        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="px-6 py-3">Code</th>
                    <th scope="col" class="px-6 py-3">Name</th>
                    <th scope="col" class="px-6 py-3">Address</th>
                    <th scope="col" class="px-6 py-3">Phone</th>
                    <th scope="col" class="px-6 py-3">Last Order Date</th>
                    <th scope="col" class="px-6 py-3">Status</th>
                    <th scope="col" class="px-6 py-3">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let customer of customers" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                    <td class="px-6 py-4">{{ customer.customerCode }}</td>
                    <td class="px-6 py-4">{{ customer.customerName }}</td>
                    <td class="px-6 py-4">{{ customer.customerAddress }}</td>
                    <td class="px-6 py-4">{{ customer.customerPhone }}</td>
                    <td class="px-6 py-4">{{ customer.lastOrderDate | date: 'dd/MM/yyyy' }}</td>                    
                    <td class="px-6 py-4">{{ customer.isActive ? 'Active' : 'Inactive' }}</td>
                    <td class="px-6 py-4">
                        <button class="text-black py-1 px-3 rounded" (click)="viewCustomer(customer.customerId)">
                            <img src="assets/detail.png" alt="Detail" class="w-5 h-6">
                        </button>
                        <button class="text-black py-1 px-3 rounded" (click)="editCustomer(customer.customerId)">
                            <img src="assets/edit.png" alt="Edit" class="w-5 h-6">
                        </button>
                        <button class="text-black py-1 px-3 rounded" (click)="confirmDelete(customer.customerId)">
                            <img src="assets/delete.png" alt="Delete" class="w-5 h-6">
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="mt-4 flex justify-center items-center">
        <button (click)="previousPage()" [disabled]="currentPage === 0" class="px-4 py-2 mr-2 bg-blue-600 text-white rounded disabled:opacity-50">Previous</button>
        
        <span *ngFor="let page of getPageNumbers()" 
              (click)="loadCustomers(page - 1)" 
              [class]="currentPage === (page - 1) ? 'px-3 py-1 mx-1 bg-blue-600 text-white rounded' : 'px-3 py-1 mx-1 bg-gray-200 text-black rounded cursor-pointer'">
          {{ page }}
        </span>
        
        <button (click)="nextPage()" [disabled]="currentPage === pages - 1" class="px-4 py-2 ml-2 bg-blue-600 text-white rounded disabled:opacity-50">Next</button>
      </div>
      
      
    <!-- Modal Konfirmasi Delete Customer -->
    <div *ngIf="showConfirmModal" class="fixed inset-0 z-10 flex items-center justify-center bg-gray-500 bg-opacity-75">
        <div class="bg-white w-80 p-6 rounded-lg shadow-lg">
            <p class="mb-4 text-lg">Are you sure you want to delete customer?</p>
            <div class="flex justify-end">
                <button class="bg-red-500 hover:bg-red-600 text-white font-bold py-2 px-4 rounded mr-2" (click)="deleteCustomerConfirmed()">Yes</button>
                <button class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded" (click)="cancelDelete()">No</button>
            </div>
        </div>
    </div>
</div>
