<nav class="bg-gray-800 p-4">
  <div class="container mx-auto flex justify-center items-center space-x-6">
    <!-- Link Customer List -->
    <a class="text-white text-lg font-semibold hover:text-gray-400 transition duration-300" routerLink="/customers">
      Customer List
    </a>
    <!-- Link Item List -->
    <a class="text-white text-lg font-semibold hover:text-gray-400 transition duration-300" routerLink="/items">
      Item List
    </a>
    <!-- Link Order List -->
    <a class="text-white text-lg font-semibold hover:text-gray-400 transition duration-300" routerLink="/orders">
      Order List
    </a>
  </div>
</nav>
<router-outlet></router-outlet>
